.groups-container{
    background-color: #f3f5f6;
    display: flex;
    flex-wrap: wrap;
    .group{
        width: 30%;
        background-color: white;
        padding: 10px 25px 10px 0;
        margin: 10px;
        .individual-group{
            display: flex;
            justify-content: space-between;

            .main-group{
                display: flex;
                flex-direction: row;
            }

            .group-first{
                img{
                    width:100px;
                    height: 100px;
                }
            }
            .group-second{
                padding-left:15px;
                div:first-child{
                    font-size: 20px;
                    font-weight: 500;
                }
                div:nth-child(2){
                    opacity: 0.6;
                }
            }
        }
    }
}