<h2 class="m-3">Groups</h2>
<div class="groups-container">
    <div class="group" *ngFor="let item of groups">
        <mat-card>
            <div class="individual-group">
                <span class="main-group">
                <span class="group-first" >
                    <img class="avatar"  mat-card-avatar src="{{item.iconurls.default}}" alt="">
                </span>
                <span class="group-second">
                    <div>{{ item?.name}}</div>
                    <div>Since 2014</div>
                    <!-- <div>117</div> -->
                </span>
                </span>
                <span class="group-third">
                    <button mat-raised-button >Join</button>
                </span>
            </div>
        </mat-card>
</div>
</div>